@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@font-face {
  font-family: font5;
  src: url("/assets/Inter.ttc");
}

.f5 {
  font-family: font5;
}

.gradient-animation {
  background: linear-gradient(to right, purple 0%, pink 50%, purple 100%);
  background-size: 200% 200%;
  transition: background 0.3s ease-in-out;
}

.gradient-animation:hover {
  animation: gradientMove 3s infinite linear;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
